body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/*login*/
input,
label {
  margin: 5px 5px;
}

.form-group {
  margin: 30px auto;
  width: 450px;
}

.form-control {
  float: left;
}

#inputStreet {
  width: 100%;
}

#inputCity {
  width: 50%;
}

#inputState {
  width: 15%;
}

#inputZip {
  width: 28%;
}

#inputCounty {
  width: 45%;
}

#inputCountry {
  width: 50%;
}

/* all product styling */
.main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.all_product_container {
  color: black;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 2em;
  justify-content: space-around;
}

aside {
  height: 100%;
  width: 10em; /* Set the width of the sidebar */
  background-color: gray;
  padding: 1em;
  color: white;
}

.product {
  color: black;
  width: 40%;
  border: grey solid 2px;
  padding: 1em;
  margin: 1em;
}

.product img {
  max-width: 100%;
  max-height: 20em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*navbar*/
.main h1 {
  padding-left: 1em;
  color: white;
}

.main nav {
  padding-right: 1em;
}

.nav_button {
  color: white;

  padding: 1em;
}

.nav_button:hover {
  background-color: grey;
}

.black {
  background-color: black;
}
